.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

#canvas {
  position: relative;
  display: block;
  background-color: white;
  cursor: crosshair;
}

.actions {
  position: fixed;
  left: 20px;
  top: 5px;
  display: flex;
}

.actions > li {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  
}
.actions > li:active{
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.actions .rangeWapper {
  border: 1px solid #dcdde1;
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  padding: 5px 3px;
  border-radius: 3px;
}

.actions > li > svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.3s;
}

.actions .icon.active {
  fill: #e84118;
  transform: scale(1.2);
}

.actions .stroke{
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}
.colors {
  position: fixed;
  left: 20px;
  top: 100px;
}

.colors .color {
  border: 1px solid #bdc3c7;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin: 10px 0;
  transition: all 0.3s;
}

.colors .color.active {
  transform: scale(1.1);
}

.bottomActions {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.bottomActions>.action{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomActions>.action:active{
  background-color: rgba(0, 0, 0, 0.1);
}
.bottomActions>.action>svg{
  width: 15px;
  height: 15px;
}